legacy-peer-deps=true
strict-ssl=false
audit=false
fund=false
engine-strict=false
ignore-scripts=true
auto-install-peers=true
loglevel=error
unsafe-perm=true
save-exact=true
prefer-offline=true
no-optional=true
no-audit=true
